
.home{
margin-top: 0;
padding: 260px 0 100px 0;
background-image: url('./assets/img/banner-bg.png');
background-position: top center;
background-size: cover;
background-repeat: no-repeat;
}
.home .tagline {
font-weight: 700;
letter-spacing: 0.8px;
padding: 8px 10px;
background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
border: 1px solid rgba(255, 255, 255, 0.5);
font-size: 20px;
margin-bottom: 16px;
display: inline-block;
}
.home h1 {
font-size: 65px;
font-weight: 700;
letter-spacing: 0.8px;
line-height: 1;
margin-bottom: 20px;
display: block;
}
.home p {
color: #B8B8B8;
font-size: 18px;
letter-spacing: 0.8px;
line-height: 1.5em;
width: 96%;
}
.home button {
color: #fff;
font-weight: 700;
font-size: 20px;
margin-top: 60px;
letter-spacing: 0.8px;
display: flex;
align-items: center;
}
.home button svg {
font-size: 25px;
margin-left: 10px;
transition: 0.3s ease-in-out;
line-height: 1;
}
.home button:hover svg {
margin-left: 25px;
}
.home img {
animation: updown 3s linear infinite;
}